name: pymoors CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    working-directory: pymoors

env:
  DEFAULT_PYTHON: 3.12

jobs:
  coverage-python:
    name: Python Coverage
    runs-on: ubuntu-latest
    env:
      CARGO_INCREMENTAL: "0"
      CARGO_LLVM_COV: "1"
      RUST_BACKTRACE: "1"

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Install Rust nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run tests
        shell: bash
        run: |
          source <(cargo llvm-cov show-env --export-prefix)
          export CARGO_TARGET_DIR=$CARGO_LLVM_COV_TARGET_DIR
          export CARGO_INCREMENTAL=1
          cargo llvm-cov clean --workspace
          uv sync --group testing
          uv run -- maturin develop --uv
          uv run -- pytest tests --cov pymoors --cov-report xml:coverage.xml --ignore=tests/benchmarks
          cargo llvm-cov report --lcov --output-path coverage.lcov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: pymoors/coverage.xml,pymoors/coverage.lcov
          directory: pymoors
          disable_search: true
          flags: pymoors
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  build-docs:
    name: Build Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}

      - name: Build Pymoors (release)
        run: make build-release

      - name: Build documentation
        run: make docs

  test-python:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          working-directory: pymoors

      - name: Build Pymoors (production)
        run: make build-release

      - name: Run tests (excluding benchmarks)
        run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust stable (with fmt & clippy)
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Pymoors (dev)
        run: make build-dev

      - name: Lint Python
        run: make lint-python

      - name: Lint Rust bindings
        run: make lint-rust

      - name: Type-check Python
        run: make pyright

  check:
    if: always()
    needs: [coverage-python, test-python, build-docs, lint]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-failures: coverage
